/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {

}

main {
    width: 300px;
    margin: 0px auto;

}

p {
    font-family: Andale Mono, monospace;
    font-size: 17px;
    font-weight: 600;


}

a {
    text-decoration:none
}

h2{
    font-family: Andale Mono, monospace;
    font-size: 30px
}

/* Колонки */

.row {
    display: flex;

}
.col {
    flex: auto;

}


/* Потом селекторы по классам */

.text-input {

}

.button {

}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {
    width: 300px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #D3D3D3;
    border-radius: 10px;
    font-family: Arial;
    font-size: 17px;
    border-style:solid;
    border-color:#ADD8E6;
}

.button {
    width:300px;
    height: 40px;
    margin-top: 15px;
    border-style:solid;
    border-color:#B0E0E6;
    background-color: #B0E0E6;
    border-radius: 10px;
    font-family: Andale Mono, monospace;
    font-size: 17px;
    font-weight: 600;
}


/* Страничка жанров и тегов */

.genre-first {
    width: 400px;
    height: 40px;
    font-family: Andale Mono, monospace;
    font-size: 17px;
    font-weight: 600;
    border-style: solid;
    border-radius: 10px;
    border-color: #D8BFD8;
    background-color: #D8BFD8;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 120px;
    margin-top: 10px;



}

.genre-second {
    width: 300px;
    height: 40px;
    font-family: Andale Mono, monospace;
    font-size: 17px;
    font-weight: 600;
    border-style: solid;
    border-radius: 10px;
    border-color: #98FB98;
    background-color: #98FB98;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 120px;
    margin-top: 10px;

}

.genre-third {
    width: 200px;
    height: 40px;
    font-family: Andale Mono, monospace;
    font-size: 17px;
    font-weight: 600;
    border-style: solid;
    border-radius: 10px;
    border-color: #FFA07A;
    background-color: #FFA07A;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 120px;
    margin-top: 10px;

}

.genre-fourth {
    width: 120px;
    height: 40px;
    font-family: Andale Mono, monospace;
    font-size: 17px;
    font-weight: 600;
    border-style: solid;
    border-radius: 10px;
    border-color: #FFB6C1;
    background-color: #FFB6C1;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 120px;
    margin-top: 10px;
    margin-bottom: 20px;

}


.tag {

}

/* Страничка популярного */

.cover {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:0px;
    margin-right:20px;

}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {

}
